{% extends "base.html" %}

{% block body %}
  {% if request.organization %}
    {% cache 3600 'organization_html' request.organization.id %}
      {{ request.organization.about|markdown|reference|str|safe }}
    {% endcache %}
  {% else %}
    <h4>
      <h3>CLB Tin Học được thành lập ngày 04/10/2014 trực thuộc khoa Tin Học - Trường Đại Học Sư Phạm Đà Nẵng.</h3>
      <a target="_blank" href="https://clbthoj.clbtinhocued.me/">CLBTHOJ - CLB TIN HỌC Online Judge</a> là một trang web được phát triển dựa trên nền tảng mã nguồn mở <a target="_blank" href="https://dmoj.ca/">DMOJ</a> và <a target="_blank" href="https://lqdoj.edu.vn/">LQDOJ</a>. Trang web được thành lập với mục tiêu giúp sinh viên <a target="_blank" href="https://www.facebook.com/clbtinhoc.ued">CLB Tin Học - Khoa Tin Học - UED</a> theo dõi và luyện tập tại nhà.
      <h3>Mọi ý kiến đóng góp và thắc mắc xin gửi về:</h3>
      <ul>
        <li>Anh <a target="_blank" href="https://www.facebook.com/dovannho">Nguyễn Phúc Hiệp</a> (handle: <span class="rating rate-none user"><a target="_blank" href="../user/NgHiep">NgHiep</a></span>), cựu chủ nhiệm CLB Tin Học - Nhiệm kì 2022-2023</li>
        <li><a target="_blank" href="https://www.facebook.com/floweronstone">Nguyễn Hữu Tín</a> (handle: <span class="rating rate-master user"><a target="_blank" href="../user/NgTin">NgTin</a></span>), chủ nhiệm CLB Tin Học</li>
      </ul>
    </h4>
  {% endif %}
{% endblock %}