{% extends "base.html" %}

{% block body %}
  <div id="login-panel">
    <form action="" method="post" class="form-area">
      {% csrf_token %}
      {% if form.errors %}
        <div id="form-errors">
          <p class="error">{{ _('Invalid username/email or password.') }}</p>
        </div>
      {% endif %}
        <tr>
          <label style="display: block;padding: 8px 0px;font-family: 'Play',sans-serif;font-size: 18px;font-weight: bold;" for="username">
            Tên truy cập
        </label>
          <td>{{ form.username }}
          </td>
        </tr>
        <tr>
          <label style="display: block;padding: 8px 2px;font-family: 'Play',sans-serif;font-size: 17px;font-weight: bold;" for="username">
            Mật khẩu
        </label>
          <td>{{ form.password }}
          </td>
        </tr>
      <hr>
      <button style="float:left; width: -webkit-fill-available;" type="submit">{{ _('Login!') }}</button>
      <input type="hidden" name="next" value="{{ next }}">
      </form>
    <br><a href="{{ url('password_reset') }}" style="float: right;">{{ _('Forgot your password?') }}</a>

    {% if form.has_google_auth or form.has_facebook_auth or form.has_github_auth %}
      <h4>{{ _('Or log in with...') }}</h4>
      {% if form.has_google_auth %}
        <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}" class="social google-icon">
          <i class="fab fa-square-google-plus"></i>
        </a>
      {% endif %}
      {% if form.has_facebook_auth %}
        <a href="{{ url('social:begin', "facebook") }}?next={{ next }}" class="social facebook-icon">
          <i class="fab fa-facebook-square"></i>
        </a>
      {% endif %}
      {% if form.has_github_auth %}
        <a href="{{ url('social:begin', "github-secure") }}?next={{ next }}" class="social github-icon">
          <i class="fab fa-github-square"></i>
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
